<h1> NAB AFZAR </h1>

<button> Main Menu </button>
<button> Productions </button>
<button> Services </button>
<button> Contact Us </button>

<br>

<img src="NAB_HP.png" alt="NAB Home Page photo">

<body>

<br>

    <h2> Introduction </h2>
        <p> <b> NABAFZAR </b> is an Iranian Company founded in 2019. NABAFZAR specialises in producing transportation-related softwares obtained from
            years of succesful experience. NABAFZAR is aiming to develop unique and high quality softwares suitable for various types of platforms.   
            </p>

<br>

    <h2> Customer Values </h2>
        <p> <b> NABAFZAR </b>  company, performs in the field of production and infromation and comunication services. Uniquely increasing 
            customer's values in a logistic society and providing new technologies for customer's growth through investment, 
            investability, research, production, inport and export is considered as a main goal and passion of the company.    </p>

            <div>
                selling is the begining of a commitment in our culture. we accompanying our customers untill ensuring their satisfaction.
            </div>

            <br>

            <div> 
                we are ensuring best reasonable prices. 
            </div>

            <br>

            <div>
                update, improving quality and great customer serice are considered as musts for us. 

            </div> 

            <br>

<br>

    <h3> Objectives  </h3> 
        <ul>
            <li> Being the best in providing solutions for information and communication technologies in a logistic society  </li>
            <li> Be Placed in ............ </li>

        </ul>


     <h2> Productions </h2>
        <ul>
            <li> Cloud and electronic services are the base of suplying logistics that is provided through Iranian logistic system  </li>
            <br>
            <li> prepared software packages are available for continer terminals, public terminals, carrier companies, agencies and all kinds of transportations </li>
            

        </ul>


</body>

